@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --primary: #007acc;
  --secondary: #0e1111;
  --highlight: #ff6b6b;
  --light-bg: #f5f7fa;
  --accent-green: #93E5AB;
  --soft-green: #65B891;
  --muted-blue: #4E878C;
}
